 <!DOCTYPE html>
 <html>
 <head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="__CSS__weui.css"/>
    <link rel="stylesheet" href="__CSS__example.css"/>
 </head>
 <body>
 	<div class="page__hd">
        <h1 class="page__title">您还没有绑定账户</h1>
        <p class="page__desc">用户绑定</p>
    </div>
 	<form method="POST" class="weui-cells weui-cells_form">
 			<div class="weui-cell">
              	<div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入学号">
                </div>
            </div>

            <div class="weui-cell">
              	<div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder="请输入姓名">
                </div>
            </div>
            <div class="page__bd page__bd_spacing">
        		<a href="javascript:;" class="weui-btn weui-btn_primary">页面主操作 Normal</a>
    		</div>
 	</form>

 	<script src="__JS__zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="__JS__example.js"></script>
 </body>
 </html>