 <!DOCTYPE html>
 <html>
 <head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="__CSS__weui.css"/>
    <link rel="stylesheet" href="__CSS__example.css"/>
 </head>
 <body>
 	<div class="page__hd">
        <h1 class="page__title">我的申请</h1>
        <p class="page__desc">当前未完成申请</p>
    </div>
 	  <foreach name="list" item="vo">
    <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <a href="{:U('partydetail')}?pid={$vo.id}"><label class="weui-form-preview__label">{$vo.title}</label></a>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">活动类型</label>
                    <span class="weui-form-preview__value">{$vo.typetext}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">活动详情</label>
                    <span class="weui-form-preview__value">{$vo.information}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">人数</label>
                    <span class="weui-form-preview__value">{$vo.nowcount}/{$vo.need}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">发起时间</label>
                    <span class="weui-form-preview__value">{$vo.datestr}</span>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="{:U('deleteapp')}?appid={$vo.id}">取消活动</a>
            </div>
        </div>
    </foreach>

 	<script src="__JS__zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="__JS__example.js"></script>
 </body>
 </html>